<script setup>
const props = defineProps({
  preparationTime: Array,
});
</script>

<template>
  <div class="p-6 rounded-lg bg-rose-white flex flex-col gap-2">
    <p class="text-primary-dark-raspberry font-bold font-outfit">
      Preparation time
    </p>
    <ul class="list-disc ms-6 flex flex-col gap-1">
      <li
        v-for="(item, index) in preparationTime"
        :key="index"
        class="text-[13px] marker:text-primary-dark-raspberry marker:text-xs text-dark-charcoal text-[13px] font-outfit"
      >
        <div class="ml-3 text-wenge-brown">
          <span class="font-bold">{{ item.title }}</span
          >: {{ item.description }}
        </div>
      </li>
    </ul>
  </div>
</template>
