<script setup>
import { useRecipeStore } from "@/stores/recipe";
import RecipeContainer from "@/components/RecipeContainer.vue";
import RecipeIngredientList from "@/components/RecipeIngredientList.vue";

const recipeStore = useRecipeStore();
</script>

<template>
  <RecipeContainer title="Ingredients">
    <RecipeIngredientList :ingredients="recipeStore.ingredients" />
  </RecipeContainer>
</template>
