<script setup>
defineProps({
  instructions: Array,
});
</script>

<template>
  <ul class="list-decimal pl-6 space-y-2">
    <li
      v-for="instruction in instructions"
      :key="instruction"
      class="pl-3 text-primary-size font-outfit text-wenge-brown marker:text-primary-nutmeg marker:font-bold"
    >
      <strong>{{ instruction.title }}</strong
      >: {{ instruction.description }}
    </li>
  </ul>
</template>
