<script setup>
defineProps({
  nutritionList: Array,
});
</script>

<template>
  <div class="flex flex-col divide-y space-y-2 divide-light-grey">
    <div
      v-for="(nutrition, index) in nutritionList"
      :key="index"
      class="flex px-6 pt-2 text-sm"
    >
      <div class="w-1/2 font-outift text-wenge-brown font-medium">
        {{ nutrition.title }}
      </div>
      <div class="w-1/2 text-primary-nutmeg font-bold">
        {{ nutrition.value }}{{ nutrition.unit }}
      </div>
    </div>
  </div>
</template>
