<script setup>
import { useRecipeStore } from "@/stores/recipe";
import RecipeContainer from "@/components/RecipeContainer.vue";
import RecipeNutritionList from "@/components/RecipeNutritionList.vue";

const recipeStore = useRecipeStore();
</script>

<template>
  <RecipeContainer title="Nutrition">
    <p class="text-[13px] text-wenge-brown font-outfit mb-4">
      {{ recipeStore.nutritionOverview }}
    </p>
    <RecipeNutritionList :nutritionList="recipeStore.nutritionList" />
  </RecipeContainer>
</template>
