<script setup>
const props = defineProps({
  foodImage: String,
});
</script>

<template>
  <img
    :src="`/assets/images/${foodImage}.jpeg`"
    alt="Omelette"
    class="w-full sm:max-w-[32rem] sm:rounded-lg"
  />
</template>
