<script setup>
import { useRecipeStore } from "@/stores/recipe";
import RecipeContainer from "@/components/RecipeContainer.vue";
import RecipeInstructionList from "@/components/RecipeInstructionList.vue";

const recipeStore = useRecipeStore();
</script>

<template>
  <RecipeContainer title="Instructions">
    <RecipeInstructionList :instructions="recipeStore.instructions" />
  </RecipeContainer>
</template>
