<script setup>
defineProps({
  title: String,
});
</script>

<template>
  <div class="first:mt-0 first:pt-0 mt-8 pt-6">
    <h2 class="text-primary-nutmeg font-young-serif text-2xl mb-4">
      {{ title }}
    </h2>
    <slot />
  </div>
</template>
