<script setup>
defineProps({
  ingredients: Array,
});
</script>

<template>
  <ul class="list-disc pl-6 space-y-2">
    <li
      v-for="ingredient in ingredients"
      :key="ingredient"
      class="pl-3 text-primary-size font-outfit text-wenge-brown"
    >
      {{ ingredient }}
    </li>
  </ul>
</template>
