<script setup>
import { useRecipeStore } from "@/stores/recipe";
import RecipeImage from "@/components/RecipeImage.vue";
import RecipeTitle from "@/components/RecipeTitle.vue";
import RecipeDescription from "@/components/RecipeDescription.vue";
import RecipePreparationTime from "@/components/RecipePreparationTime.vue";
import RecipeIngredients from "@/components/RecipeIngredients.vue";
import RecipeInstructions from "@/components/RecipeInstructions.vue";
import RecipeNutrition from "@/components/RecipeNutrition.vue";

const recipeStore = useRecipeStore();
</script>

<template>
  <div
    class="min-h-screen bg-eggshell grid items-center justify-center sm:py-16"
  >
    <div
      class="pb-8 sm:p-8 bg-white sm:rounded-lg flex flex-col gap-6 sm:max-w-xl"
    >
      <RecipeImage :foodImage="recipeStore.foodImage" />
      <div class="px-8 md:p-0 flex flex-col gap-6">
        <RecipeTitle :title="recipeStore.title" />
        <RecipeDescription :description="recipeStore.description" />
        <RecipePreparationTime :preparationTime="recipeStore.preparationTime" />
        <div class="flex flex-col divide-y">
          <RecipeIngredients />
          <RecipeInstructions />
          <RecipeNutrition />
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped></style>
